.Round {
  border-radius: 50%;
  border: 2px solid #8c6e8c;
}

.CustomNavbar {
  backdrop-filter: blur(20px); 
  background-color: rgba(255, 255, 255, 0.05);
}

.NavLink {
  padding: 5px;
  color: #260925;
  font-weight: bold;
}

.Active i {
  color:#8c6e8c;
}

