.App {
    font-family: 'Roboto Flex', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
      to right,
      #edb689,
      #e6a38a,
      #d9938e,
      #c68590,
      #af7a91,
      #ac7792,
      #a87592,
      #a47293,
      #b77595,
      #c97894,
      #da7c91,
      #ea818c
    );
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }